@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

@font-face {
  font-family: "holberton_school-icon";
  src: url("holberton_school-icon/fonts/holberton_school-icon.eot?sq4eq4");
  src: url("holberton_school-icon/fonts/holberton_school-icon.eot?sq4eq4#iefix")
      format("embedded-opentype"),
    url("holberton_school-icon/fonts/holberton_school-icon.ttf?sq4eq4")
      format("truetype"),
    url("holberton_school-icon/fonts/holberton_school-icon.woff?sq4eq4")
      format("woff"),
    url("holberton_school-icon/fonts/holberton_school-icon.svg?sq4eq4#holberton_school-icon")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* This applies the font-family and basic rendering for all holberton_school-icon classes */
[class^="holberton_school-icon-"],
[class*=" holberton_school-icon-"] {
  /* Use the holberton_school-icon font */
  font-family: "holberton_school-icon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.holberton_school-icon-arrow_1:before {
  content: "\e900";
}
.holberton_school-icon-arrow_2:before {
  content: "\e901";
}
.holberton_school-icon-arrow_3:before {
  content: "\e902";
}
.holberton_school-icon-arrow_4:before {
  content: "\e903";
}
.holberton_school-icon-arrow_5:before {
  content: "\e904";
}
.holberton_school-icon-check:before {
  content: "\e905";
}
.holberton_school-icon-ic_bag:before {
  content: "\e906";
}
.holberton_school-icon-ic_cart:before {
  content: "\e907";
}
.holberton_school-icon-ic_facebook:before {
  content: "\e908";
}
.holberton_school-icon-ic_hearing:before {
  content: "\e909";
}
.holberton_school-icon-ic_instagram:before {
  content: "\e90a";
}
.holberton_school-icon-ic_laptop:before {
  content: "\e90b";
}
.holberton_school-icon-ic_money:before {
  content: "\e90c";
}
.holberton_school-icon-ic_music:before {
  content: "\e90d";
}
.holberton_school-icon-ic_sound:before {
  content: "\e90e";
}
.holberton_school-icon-ic_twitter:before {
  content: "\e90f";
}
.holberton_school-icon-ic_video:before {
  content: "\e910";
}
.holberton_school-icon-menu:before {
  content: "\e911";
}
.holberton_school-icon-search_1:before {
  content: "\e912";
}
.holberton_school-icon-search_2:before {
  content: "\e913";
}
.holberton_school-icon-star:before {
  content: "\e914";
}
/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* importing fontfaces. Come back here later */
@font-face {
  font-family: "Source Sans Pro";
  src: url("fonts/SourceSansPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("fonts/SourceSansPro-Regular.otf") format("opentype");
}

:root {
  --primary-color: #fff;
  --secondary-color: #ff6565;
  --bg-dark: #071629;
  --max-content-width: 1000px;
  --font-spin-cycle: "Spin Cycle OT", sans-serif;
  --font-source-sans-pro: "Source Sans Pro", sans-serif;
}

body {
  color: var(--primary-color);
  font-family: var(--font-source-sans-pro);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  /* top: 1.2rem; */
  width: 100%;
  z-index: 1000;
  padding: 1rem 14rem;
}

.hamburger {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 0.2rem;
  visibility: hidden;
}

.hamburger .top,
.middle,
.bottom {
  width: 1.4rem;
  height: 0.2rem;
  background-color: var(--primary-color);
}

.middle {
  width: 1rem;
}

header .menu ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

header .menu ul a {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.3s ease-in-out;
}

header .menu ul a:hover,
a:active {
  color: var(--secondary-color);
}

main {
  background-image: url("./assets/images/headphones_hero_1.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main-content {
  max-width: var(--max-content-width);
  width: 60%;
  transform: translateY(40%);
}

.main-content .-p1 {
  font-weight: 600;
}

.main-content button {
  margin: 2.5rem 4rem;
  color: var(--primary-color);
  font-size: 0.8rem;
  padding: 0.8rem 2rem;
  background-color: var(--secondary-color);
  border-radius: 1.3rem;
  border: none;
  cursor: pointer;
}

.main-content button:hover,
button:active {
  opacity: 0.9;
}

.main-content .-p2 {
  line-height: 1.6rem;
}

@media screen and (max-width: 480px) {
  header {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    /* flex-wrap: wrap; */
  }

  .hamburger {
    left: 2rem;
    top: 1.8rem;
    visibility: visible;
  }

  header .menu ul {
    flex-direction: column;
    text-align: center;
  }
  header .menu ul a {
    flex-wrap: nowrap;
  }
  .main-content {
    width: 80%;
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 5rem;
  }
}

.what-we-do-section {
  color: var(--bg-dark);
  padding-bottom: 5rem;
}

.what-we-do {
  padding: 1rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.top-div {
  margin: 6.8rem 4rem;
  width: 50%;
}

.top-div h2 {
  color: var(--primary-color);
  margin-bottom: 2.5rem;
}

.bottom-div {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 2rem;
  max-width: var(--max-content-width);
}

.bottom-div-content h3 {
  margin: 1.6rem 0 0.8rem;
  color: var(--primary-color);
}

.bottom-div-content img {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 480px) {
  .top-div {
    margin: 6.8rem 1rem;
    width: 90%;
  }
  .bottom-div {
    flex-direction: column;
    align-items: center;
  }

  .bottom-div-content {
    width: 80%;
    max-width: 400px;
    text-align: center;
  }

  .bottom-div-content img {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  header {
    padding: 1rem 2rem;
  }
  .top-div {
    margin: 6.8rem 1rem;
    width: 100%;
  }
  .bottom-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.our-results {
  background: url("./assets/images/headphones_hero_2.jpg");
  background-size: cover;
  background-position: center;
}

.our-results-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: var(--max-content-width);
  padding: 5rem;
  margin: 0 auto;
  text-align: center;
  gap: 3.5rem;
}

.our-results-content h2 {
  color: var(--bg-dark);
  margin-bottom: 1.5rem;
}

.our-results-content p {
  color: var(--primary-color);
  line-height: 1.6rem;
}

.our_results-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 2rem;
}

.pentagon {
  width: 150px;
  height: 150px; 
  background-color: var(--secondary-color);
  position: relative;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%); 
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
}

.result-number {
  font-family: var(--font-spin-cycle);
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-color);
  line-height: 1;
  margin-bottom: 5px;
}

.pentagon-text { 
  font-size: 14px;
  color: var(--primary-color);
  line-height: 1.2;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .our-results-content {
    padding: 5rem;
  }
  .our_results-bottom {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .our-results-content {
    padding: 5rem 2rem;
  }
  .our_results-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    margin: auto;
  }
}

.our_results_bottom img {
  width: 100%;
  height: auto;
}

.contact {
  padding: 2rem 5rem;
}

.contact-us-content {
  text-align: center;
  padding: 2rem 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

form input[type="text"],
input[type="email"],
textarea {
  width: 50%;
  max-width: 500px;
  padding: 0.8rem;
  border: none;
  border-bottom: 1px solid #979797;
  outline: none;
}

.contact-us-content button {
  padding: 0.8rem 2rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  border-radius: 1.3rem;
  cursor: pointer;
  margin: 1rem 0 3rem;
}

footer {
  background-color: #071629;
  padding: 4rem 3rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer p {
  margin-top: 2rem;
  text-align: center;
  color: #979797;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .footer-logo {
    width: 150px;
    height: auto;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    gap: 2rem;
  }
  .footer .footer-content {
    width: 100px;
    height: 100px;
  }
}
