body, main {
    display: flex;
    flex-direction: column;
}

main  {
    flex-direction: row;
    flex: auto;
}

article, aside {
    overflow-y: auto;
}

article {
    flex: 2;
    background-color: #F0F0F0;
}

aside {
    flex: 1;
}
